@import "_normalize.scss";
@import "_gymnast.scss";

body {
	padding: 0 30px;
}

h3 {
	margin-top: 0;
}

.grids {
	[class*="columns-"] {
		background: #ccc;
		border: 1px solid #999;
	}
	span {
		display: inline-block;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	
}

.shifted {
	.columns-8 {
		@include shift-right(4);
	}
	.columns-4 {
		@include shift-left(8);
	}
}

.blocks {
	[class*="block-grid-"] {
		margin-bottom: 30px;
		> li {
			background: #ccc;
			border: 1px solid #999;
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
}

@media screen and (max-width: 767px) {
	.columns-12, .columns-11, .columns-10, .columns-9,
	.columns-8, .columns-7, .columns-6, .columns-5,
	.columns-4, .columns-3, .columns-2, .columns-1 {
		@include resized-columns(12);
	}

	.shifted {
		.columns-12, .columns-11, .columns-10, .columns-9,
		.columns-8, .columns-7, .columns-6, .columns-5,
		.columns-4, .columns-3, .columns-2, .columns-1 {
			@include resized-columns(12);
		}
	}

	[class*="block-grid-"] {
		@include block-reset(6);
		@include block-reset(5);
		@include block-reset(4);
		@include block-reset(3);
		@include block-grid(2);
	}
}

@media screen and (max-width: 480px) {
	[class*="block-grid-"] {
		@include block-reset(2);
		@include block-grid(1);
	}
}